.cats
{
    width: auto;
    height: auto;
    background: #ffe4e1;
    display: block;
}

.cats h1
{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.mini_information p
{
    margin-left: 20px;
    font-size: 20px;
    display: inline;
}

.information p
{
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
}

.mini_information
{
    text-align: left;
}

.mini_information:hover,
.information:hover
{
    font-weight: bold;
    box-shadow: 0 0 15px #f39;
}

.name:hover
{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 25px;

}

.pic
{
    width: 400px;
    height: 250px;
    margin: 0 auto;
}

.card:hover
{
    box-shadow: 0 0 15px #f39;
}

.pic:hover
{
    box-shadow: 0 0 15px #f39;
}

input[class='grid']:checked ~ .card
{
    width: 450px;
    height: auto;
    border: 3px solid #fa82c4;
    display: inline-block;
    text-align: left;
    margin: 5px;
}

input[class='list']:checked ~ main .card
{
    width: 650px;
    display: block;
    text-align: center;
    margin-left: 300px;
}

input[class='list']:checked ~ main .pic
{
    width: 450px;
    height: 300px;
}

input[class='list']:checked ~ main .cats p
{
    text-align: center;
}

input[class='list']:checked ~ main .information p
{
    text-align: left;
}

input[class='grid']:checked ~ main .information
{
    display: none;
    text-align: left;
}

input[class='grid']:checked ~ main .information p
{
    margin-left: 20px;
    font-size: 20px;
    display: inline;
}

.card
{
    width: 450px;
    height: auto;
    border: 3px solid #fa82c4;
    display: inline-block;
    text-align: center;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
